body {
  font-family: "Courier New", monospace;
  font-size: 16px;
}

h1 {
  text-align: center;
  padding: 10px;
}

nav {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  font-size: 1.5rem;
  padding: 20px;
  text-align: left;
}

#navigation {
  margin: 10px auto 100px auto;
  padding: 30px;
  max-width: 1100px;
  background-color: #FFFF00;  /* http://www.colourlovers.com/color/FFFF00/Yellow */
  text-align: center;
}

#menu-tile{

  height: 250px;
  width: 100%;
  border: 2px solid #ffc0cb;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

#menu-content {
  border: 2px solid #f994a6;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #f994a6;
  margin-top: 60px;
  margin-bottom: 60px;
}

a:visited {
  color:brown;
}
a:hover {
  font-weight: bold;
}
a:active {
    text-decoration: underline;
}

}

nav a {
  padding: 15px;
}

footer {
  background: #FFFFFF;
  border-top: 2px solid #000000;
  font-size: .95rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

th, td {
  padding: 11px;
}
